{% extends "base.html" %}

{% block title %}label_list.html{% endblock %}

{% block extra-style %}
<style>
    thumbnail {
        border: 3px solid #ccc;
    }
</style>
{% endblock %}


{% block content %}   

<form method='GET' action='{% url "label:label_list" %}'> 
    <input type="text" name ='qs' placeholder='Search' value="{{ request.GET.qs }}"/> 
    <input type="submit" value='Search'/> 
</form>


<div class="row">
    {% for item in object_list %}
    <div class="col-md-2 mb-1 p-1">
        <div class="thumbnail" style="border: 3px solid #ccc;">
            <a href="{{ item.get_absolute_url }}">
                <img src="{{ item.image.thumb_url }}" style="width: 100%;">
            </a>            
        </div>
        <p class="text-center text-secondary p-0 m-0"> {{ item.number }} </p>
    </div>
    {% endfor %}
    
    <div class="text-center">
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
            {% endif %}
            
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}