{% extends "base.html" %}

{% block title %}label_detail.html{% endblock %}

{% block content %}

<div class="row mt-4">
    <div class="col-md-6 ">
        <a href="{{ object.image.url }}">
            <img src="{{ object.image.url }}" style="width: 80%;">
        </a>
    </div>

    <div class="col-md-4 mt-2 text-right" style="border: 3px solid #ccc;">

        <p class="p-0 m-0" style="font-size:18px; font-weight: bolder;"> {{ object.number }} </p>
     
        <p class="p-0 mt-5">{{ object.info }}</p>

        <p class="p-0 mt-5">분류 : {{ object.category }}</p>
        
        <p class="p-0 mt-5">정보 등록일 : {{ object.create_date }}</p>

            
    </div>
</div>

<br>
<div>
    <b>TAGS</b> <i class="fas fa-tag"></i>
    {% load taggit_templatetags2_tags %}
    {% get_tags_for_object object as "tags" %}
    {% for tag in tags %}
        <a href="{% url 'label:tagged_object_list' tag.name %}">{{tag.name}}</a>
        {% endfor %}
        &emsp;
        <a href="{% url 'label:tag_cloud' %}"><span class="btn btn-info btn-sm">TagCloud</span></a>
</div>
{% endblock %}